h1 {
  color: brown;
  background-color: tan;
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

.intro {
  background-color: tan;
  color: brown;
}

p {
  color: blue;
}

img {
  width: 100px;
  height: 100px;
}