h1 {
  color: brown;
  background-color: tan;
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

.intro {
  background-color: tan;
  color: brown;
}

.important {
  font-weight: 700;
  color: black;
}

p {
  color: blue;
}

img {
  padding: 10px;
  float: right;
  width: 200px;
  height: 200px;
}